.calcContainer{
    vertical-align: middle;
}

.calculator-text{
    color: #ddd;
    font-size: small;
    margin-right: 5px;
}

.dropdown-icon{
    max-width: 20px;
}

#calcPriceButton{
    min-width: 175px !important;
}

#calcItemButton{
    min-width: 125px;
}

#calcPriceList{
    margin-left: 10px;
}

#calcItemList{
    min-width: 125px;
    margin-left: 10px;
}

.calcButton{
    color: #fbb100 !important;
    margin-left: 3px;
    background-color: transparent;
    font-weight: bold;
}

.calcButton:hover{
    cursor: pointer;
    color: #fac854 !important;
    border: none !important;
    border: 1px solid #6d5828 !important;
    background-color: transparent;
}

#calculated-amount{
    color: #ddd;
    font-size: 22px;
}

#calcButton{
    margin-left: 0px;
}

@media only screen and (min-width: 600px) {
    .calcContainer{
        border-left: 1px solid #5e5f5f;
        border-right: 1px solid #5e5f5f;
        padding-right: 13px;
    }
}