.itemPreview{
    background-color: #ffff;
    text-align: center;
}

.percent-header{
    font-family: 'Didact Gothic', 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: large;
}

.expand-icon{
    visibility: hidden;
    max-width: 21px;
    max-height: 21px;
}

@media only screen and (min-width: 600px) {
    .Active, .Paused {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
    }
    .itemPreview{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #ffffff;
        border-radius: 2px;
        border: 1px solid transparent;
    }

    .statusSection{
        display: inline-block;
        text-align: left;
    }

    .itemPreview:hover{
        cursor: pointer;
        background-color: #f7f5f0;
        transition-duration: 0.2s;
    }

    .previewHeader{
        text-align: left;
        display: inline-block;
        margin-left: 195px;
    }

    .expand-icon{
        visibility: initial;
        margin-top: 20px;
        margin-right: 100px;
        margin-left: 76px;
        float: right;
    }

    .previewHeaderContainer{
        display: flex;
    }
}