.Active, .Paused{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 2px;
    font-size: 25px;
    font-family: 'Italiana', Courier, monospace;
    font-weight: bold;
}

.Active, .Paused, h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Active{
    background-color: rgb(185, 219, 185);
}

.Paused{
    background-color: rgb(231, 193, 193);
}

.collapse{
    position: relative;
}

.item:hover{
    cursor: pointer;
    transition-duration: 0.2s;
}

.progress-bar{
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    width: 100%;
    height: 20px;
    display: inline-block;
    text-align: left;
}

.progress-value{
    align-content: left;
    background-color: #9ec6ca;
    transition: 0.3s all linear;
    border-radius: 5px;
    height: 100%;
    display: inline-block;
    text-align: center;
    animation: progress 2s ease-in-out forwards;
    -webkit-animation: progress 2s ease-in-out forwards;
}

.percentSaved{
    display: block;
}

.placeholder{
    max-width: 150px;
    margin: 15px;
}

.expanded-title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.item{
    background-color: #ffffff;
}

.totalSection{
    margin-bottom: 10px;
}

.progressSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes progress {
    from {
        width: 0;
    }
}

@-webkit-keyframes progress {
    from {
        width: 0;
    }
}

@media only screen and (min-width: 600px) {  
    .Active, .Paused, h1{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .titleSection{
    text-align: left;
    }

    .progress-bar{
        height: 50px;
    }
    
    .percentSaved{
        font-size: 25px;
    }

    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid #bbc5d5;
        padding: 5px;
        border-radius: 2px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .progressSection{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    .totalSection{
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .progressSection{
        margin-top: 0px;
    }

    .placeholder{
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1024px) and (min-width:601px){  
    .placeholder{
        max-width: 100px;
    }

    .progress-bar{
        width: 250px;
        height: 30px;;
    }
}