  /* Dropdown Button */
  .dropbtn, #expandAll {
    padding: 3px;
    width: 100px;
    height: 33px;
    font-size: 17px;
    border: none;
    font-family: 'Didact Gothic', 'Courier New', Courier, monospace;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    color: #ddd;
  }

  .dropbtn:hover{
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #5e5f5f;
  }
    
  .dropdown {
    position: relative;
    display: inline-block;
  }
    
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-family: 'Didact Gothic', 'Courier New', Courier, monospace;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    
  .dropdown-content .sortlist, .calcList {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    
  .dropdown-content .sort-list:hover, .calcList {
    background-color: #ddd;
    cursor: pointer;
  }
    
  .dropdown:hover .dropdown-content {display: block;}

  li{
    list-style: none;
    padding: 5px;
  }

  ul{
    padding-left: 0;
    margin: 0;
  }

  .searchSort{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  }

  input{
    height: 33px;
  }

  nav{
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b2c2d;
    }

  .search{
    display: inline-block;
    margin-right: 25px;
  }

  #search-text{
    font-size: 17px;
  }

  #search-input{
    font-family: 'Didact Gothic', 'Courier New', Courier, monospace;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 300px;
    font-size: 17px;
    border-style: solid;
    border-style: none;
    padding: 0px;
    padding-left: 29px;
  }

  #expandAll:hover{
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #5e5f5f;
  }

  #search-container{
    background-color: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
 
  #search-icon{
    max-width: 20px;
    vertical-align: middle;
    padding-left: 5px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
  }

  #displayCalcButton{
    width: 130px !important;
  }

  .dropDownIcon{
    max-height: 5px;
    padding-left: 9px;
    margin-bottom: 1px;
  }

  @media only screen and (max-width: 1024px) and (min-width:601px){
    #search-container{
      height: fit-content;
    }
    #search-input{
      width: 150px !important;
      padding-left: 0;
  }
  .dropbtn, #expandAll{
      font-size: small !important;
      margin: 0 !important;
      width: 75px !important;
  }
  #search-icon{
    visibility: hidden;
  }
}

  @media only screen and (max-width: 600px) {
  *{
    text-align: center;
  }
  .searchSort{
      display: inherit;
  }

  .dropdown-content{
    margin-top: -282px;
  }

  nav{ 
    bottom: 0;
    top: initial;
  }

  #expandAll{
    margin-top: 15px;
  }
  
  #search-input{
    margin-left: 0px;
    padding: 0px;
  }

  #search-icon{
    visibility: hidden;
  }
}