.statusButton{
    background: transparent;
    border: none;
    font-family: 'Didact Gothic', 'Courier New', Courier, monospace;
    border-radius: 50%;
    padding: 0px;
    display: inline-block;
    max-height: 35px;
    max-width: 35px;
    margin-bottom: 10px;
}

.statusButton:hover{
    cursor: pointer;
}

.button-image{
    max-width: 35px;
    border-radius: 50%
}

.button-image:hover{
    background-color: #ddd;
    transition-duration: 0.2s;
}

@media only screen and (min-width: 600px) {  
    .statusButton{
        margin-bottom: 5px;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
    }
}